<?php

use Syte\Tracker\Block\DataJson;
use Magento\Framework\Escaper;

/**
 * @var DataJson $block
 * @var Escaper $escaper
 */
?>
<script>window.syteDataLayer = window.syteDataLayer || [];</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Syte_Tracker/js/actions/checkout/complete": {
                "cart": "<?= $escaper->escapeJs($block->getLastOrderCartContent()) ?>",
                "orderId": "<?= $escaper->escapeJs($block->getCurrentOrderId()) ?>",
                "cartTotal": "<?= $escaper->escapeJs($block->getLastOrderCartTotals()) ?>",
                "currentCurrency": "<?= $escaper->escapeJs($block->getStoreCurrencyCode()) ?>"
            }
        }
    }
</script>
