<?php

use Syte\Tracker\Block\DataJson;
use Magento\Framework\Escaper;

/**
 * @var DataJson $block
 * @var Escaper $escaper
 */
?>

<div id="checkout-shipping-load">
    <!-- Content loaded dynamically -->
</div>

<script>window.syteDataLayer = window.syteDataLayer || [];</script>
<script type="text/x-magento-init">
    {
        "*": {
            "Syte_Tracker/js/actions/checkout/start": {
                "cart": "<?= $escaper->escapeJs($block->getCartContent()) ?>",
                "cartTotal": "<?= $escaper->escapeJs($block->getCurrentCartTotals()) ?>",
                "currentCurrency": "<?= $escaper->escapeJs($block->getStoreCurrencyCode()) ?>"
            }
        }
    }
</script>
